minimum_pre_commit_version: "3.5.0"
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1500"]
      - id: check-yaml
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        pass_filenames: false
        args: ["app", "scripts", "tests"]
        additional_dependencies:
          - sqlalchemy>=2.0
          - pydantic>=2.4,<3

  - repo: local
    hooks:
      - id: compileall
        name: compileall (app/tests/scripts)
        entry: python -m compileall -q app tests scripts
        language: system
        pass_filenames: false
